*~
~*
out/*
ChangeLog
*-autoloads.el
*-pkg.el
*.elc
\#*\#
.\#*
/out/
*-autoloads.el
*-pkg.el
flycheck_*
ergoemacs-global*.el
ergoemacs-global*.el.gz
ergoemacs-global*.elc.gz
ergoemacs-global*.elc
/.cask/
